/** begin common css */

*:focus {outline: none;} /* To prevent Chrome standard input outline */

body {font: 13px arial;background-color: #7A9FBF;}

h2 {margin: 15px 10px;border-bottom: 1px solid #7A9FBF;}

a:hover {color: #7A9FBF;}

#wrapper {
	margin: auto auto;
	width: 960px;
	background-color: #DCE8F2;
	overflow: auto;
}

#main {margin: 10px 5px 10px 15px;}
#right {margin: 10px 15px 10px 5px;}
#main, #right {background-color: #fff;outline: 1px #A8BF54 solid;}
#header, #footer {text-align: center;}

.inner {clear: both;padding: 10px;}
.author {font-style: italic;color: #555;}
.answer {border: 1px solid #7A9FBF;padding: 10px;margin: 5px 5px 5px 10px;}

div#information {
	display: none; /* Toggle with JS when displaying error msgs */
	padding: 5px 10px;
	margin: 5px 5px 5px 10px !important;
	border: 1px solid #f00;
	font-size: 11px;	
}
div#information p span.activeLabel {color: #f00;font-weight: bold;font-size: 12px;}
/* end common css */

/** general form css */
form {margin: 0 0 1em 0;padding-top: 10px;}
form fieldset {padding: 0;border: none;float: left;display: inline;}
form ul {list-style: none;padding: 0;margin: 0;}
form li {display: block;padding: 5px 0;}
form legend {display: none;}	
form div {margin: 5px 0;}
form label {display: block;padding-top: 1px;}	
form label span {float: right;color: #666;font-style: italic;}
form label span.letterCount {float:none;}
form input, form textarea {border: 1px solid #ddd;background: #fff url(../images/form_input.gif) repeat-x;padding: 3px;}
form textarea:focus, form input:focus {border-color: #7A9FBF;}
form div.submit {margin: 10px;text-align: left;}
form button {
	width: 120px;
	height: 30px;
	line-height: 30px;		
	border-width: 1px;
	background: #A8BF54;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}
form button:hover {color: #000;}
/* end general form css */

/** begin question-form */
form#createQuestion fieldset.grid_3 {width: 250px;margin: 5px 5px 5px 10px;}
form#createQuestion fieldset.grid_5 {width: 400px;margin: 5px 10px 5px 5px;}
form#createQuestion input {width: 242px;height: 22px;}
form#createQuestion textarea {width: 392px;height: 134px;overflow: auto;}
form#createQuestion div.grid_8 {width: 639px;}	
/* end question-form */

/** begin answer-form */
form#createAnswer fieldset {margin: 0 0 5px 0;}
form#createAnswer label.shortLbl {width: 250px;}
form#createAnswer input {width: 242px;	height: 22px;}
form#createAnswer textarea {width: 612px;	height: 134px;	overflow: auto;}
form#createAnswer div.grid_7 {width: 598px;margin: 5px 0 !important;}
/* end question-form */

/** begin css tabs */
ul#tabnav {
	text-align: left;
	margin: 0 0 1em 0;
	font: bold 11px verdana, arial, sans-serif;
	list-style-type: none;
	padding: 3px 10px 3px 10px; 
}
ul#tabnav li {display: inline;}
ul#tabnav li.active {background-color: #fff;}
ul#tabnav li.active a { 
	background-color: #fff;
	color: #000; 
	position: relative;
	top: 3px;
	padding-top: 6px;
}
ul#tabnav li a {
	padding: 3px 4px; 
	border: 1px solid #7A9FBF;
	background-color: #A8BF54; 
	color: #fff; 
	margin-right: 0px;
	text-decoration: none;
	border-top: none;
}
ul#tabnav a:hover {background: #fff;color: #000;}
/* end css tabs */
